.channel-list {
  background: white;
  border: 1px solid #EDEDED;
  -webkit-box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.11);
  box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.11);
  padding: 10px;
  margin: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  .channel-list .member {
    color: #f85757;
    font-weight: bold; }
  .channel-list:hover {
    background: rgba(240, 240, 240, 0.836); }
