@import "variables.scss";

.inventory {
    box-shadow: 1px 1px 1px 1px #D3D3D3;
    max-width: $maxWidth;
    max-height: 200px;
    overflow: auto;
    scrollbar-width: thin;
    border-radius: 5px;
    .title {
        text-align: center;
        line-height: 5px;
    }
    ul {
        list-style: none;
        padding: 0 10px;
    }
    .items {
        border: 1px solid lightgray;
        border-radius: 10px;
        margin: 10px auto;
        display: flex;
        justify-content: space-between;
        font-size: 10px;
        text-align: center;
        color: rgba(128, 128, 128, 0.616);
        .chat-post-content {
            line-height: 10px;
            padding-left: 5px;
            button {
                font-size: 10px;
                height: 40px;
                text-align: center;
                border: 1px solid grey;
                line-height: 1.5em;
                border-radius: 8px;
                background: white;
                padding: 8px;
                margin: 5px;
                -webkit-transition-duration: 0.4s; /* Safari */
                transition-duration: 0.4s;
                margin-bottom: 10px;
                &:hover {
                    cursor: pointer;
                    background: rgba(0, 0, 0, 0.692);
                    color: white;
                }
            }
        }
        .items-pic {
            width: 100px;
            max-height: 150px;
            object-fit: cover;
        }
    }
    @media (max-width: 350px) {
        .items{
            .chat-post-content {
                font-size: 13px;
                .chat-post-buttons {
                    display: flex;
                    flex-direction: column;
                    button, .link {
                        width: 100px;
                        height: 50px;
                        line-height: 0px;
                    }
                }   
            }
            .items-pic{
                width: 50%;
                max-height: 100%;
            }
        }
    }
}