@import "variables.scss";

.inventory {
    box-shadow: 1px 1px 1px 1px #D3D3D3;
    max-width: $maxWidth;
    max-height: 500px;
    overflow: auto;
    .title {
        text-align: center;
    }
    ul {
        list-style: none;
        padding: 0 10px;
    }
    .items {
        border: 1px solid lightgray;
        display: flex;
        justify-content: space-between;
        padding-left: 10px;
        .chat-post-content {
            line-height: 10px;
            .chat-post-buttons {
                button {
                    text-align: center;
                    border: 1px solid grey;
                    line-height: 1.5em;
                    border-radius: 2px;
                    background: white;
                    padding: 10px;
                    margin: 5px;
                    -webkit-transition-duration: 0.4s; /* Safari */
                    transition-duration: 0.4s;
                    margin-bottom: 10px;
                    &:hover {
                        cursor: pointer;
                    }
                }
                .link {
                    text-align: center;
                    border: 1px solid grey;
                    line-height: 1.5em;
                    border-radius: 2px;
                    background: white;
                    padding: 10px;
                    margin: 5px;
                    -webkit-transition-duration: 0.4s; /* Safari */
                    transition-duration: 0.4s;
                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }
        .items-pic {
            width: 100px;
            max-height: 150px;
            object-fit: cover;
        }
    }
    @media (max-width: 350px) {
        .items{
            .chat-post-content {
                font-size: 13px;
                .chat-post-buttons {
                    display: flex;
                    flex-direction: column;
                    button, .link {
                        width: 100px;
                        height: 50px;
                        line-height: 0px;
                    }
                }   
            }
            .items-pic{
                width: 50%;
                max-height: 100%;
            }
        }
    }
}