@import "mixins.scss";

.error {
    padding: 2rem;
    background: white;
    margin: 1.5rem 0;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-left: 5px solid red;
    max-width: 100%;
    p {
        margin: 0;
        font-weight: 100;
        font-size: 13px;
    }
    strong {
        margin-right: 1rem;
    }
}

@include mQ(770px){
    .error {
        margin: 15px;
        padding: 0;
    }
}

@include mQ(470px){
    .error {
        margin: 10px;
        padding: 0;
    }
}

@include mQ(330px){
    .error {
        margin: 5px;
    }
}

@include mQ(320px){
    .error {
        p {
            font-size: 10px;
        }
    }
}

@include mQ(270px){
    .error {
        p {
            line-height: 15px;
        }
    }
}