@import "variables.scss";

.inbox {
    max-width: $maxWidth;
    position: relative;
    margin: 20px auto;
    h2 {
        border-bottom: 2px solid red;
        margin-top: 0;
        margin-bottom: 2rem;
        padding-bottom: 2rem;
    }
    .inbox-list {
        list-style: none;
        padding-left: 0;
    }
}
