@import "variables.scss";
@import "mixins.scss";

.v-header{
    height:100vh;
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
    color:#fff;
    overflow: hidden;
    .fullscreen-video-wrap{
        position:absolute;
        top:0;
        left:0;
        width:100%;
        height:100vh;
        overflow:hidden;
        video {
            min-height:100%;
            min-width:100%;
            // opacity: .5;
        }
    }
    .header-overlay{
        height:100vh;
        position: absolute;
        top:0;
        left:0;
        width:100vw;
        z-index:1;
        background:#5f5f5f00;
        opacity:0.85;
    }
    img {
        z-index: 5;
        width: 500px;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    @import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');
    $color:rgb(random(150)
              ,random(150)
              ,random(150));
    
    figure {
        transform: translateX(-100px);
        z-index: 4;
        width: 200px;
        height: 60px;
        cursor: pointer; 
        // perspective: 500px; 
        // -webkit-perspective: 500px;
        &:hover {
            div {
                transform:rotateX(-90deg);
            }
        }
        div{
            height: 100%;
            transform-style: preserve-3d;
            -webkit-transform-style: preserve-3d;
            transition: 0.25s;
            -webkit-transition: 0.25s;
            span{
                width: 100%;
                height: 100%;
                position: absolute;
                box-sizing: border-box;
                border: 5px solid #fff;
                font-family: 'Source Sans Pro',sans-serif; 
                line-height: 50px;
                font-size:17pt;
                text-align: center;
                text-transform: uppercase;
                &:nth-child(1){
                    color: #fff;
                    transform: translate3d(0, 0, 30px);
                    -webkit-transform: translate3d(0, 0, 30px);
                }
                &:nth-child(2){
                    color: lightgrey;
                    background: #fff;
                    transform: rotateX(90deg) translate3d(0, 0, 30px);
                    -webkit-transform: rotateX(90deg) translate3d(0, 0, 30px);
                }
            }
        }
    }
    .auth {
        color: black;
        z-index: 5;
        background: white;
        max-width: 80%;
        height: 230px;
        border-radius: 30px;
    }
}

.container{
    max-width:960px;
    padding-left:1rem;
    padding-right:1rem;
    margin:auto;
    text-align:center;
}

.fade {
    opacity: 0;
}


@include mQ(600px){
    .v-header {
        img {
            max-width: 80%;
        }
        .auth {
            max-width: 80%;
        }
    }
}
  

  
