@import "variables.scss";
@import "mixins.scss";

.main {
    .main-container {
        display: flex;
        flex-direction: row;
        padding: 30px;
        height: 100vh;
        width: 100%;
        .menu {
            width: 15%;
            height: 100%;
            background: white;
            margin: 10px;
            padding: 10px 50px 10px 0px;
            border-radius: 10px;
            background: $red;
        }
        .chat-inbox {
            width: 25%;
            height: 100%;
            background: white;
            margin: 10px;
            padding: 10px;
            border-radius: 10px;
            overflow: auto;
            scrollbar-width: thin;
            &::-webkit-scrollbar {
              width: 0px;
            }
    
            &::-webkit-scrollbar-track {
                width: 0px;
            }
    
            &::-webkit-scrollbar-thumb {
                width: 0px;
            }
        }
        .main-chat {
            width: 40%;
            height: 100%;
            background: white;
            margin: 10px 0px 10px 10px;
            padding: 10px;
            border-radius: 10px 0px 0px 10px;
        }
        .user-profile {
            width: 20%;
            height: 100%;
            background: white;
            margin: 10px 10px 10px 1px;
            padding: 10px;
            border-radius: 0px 10px 10px 0px;
        }
        .main-cards {
            width: 60%;
            height: 100%;
            background: white;
            margin: 10px 0px 10px 10px;
            padding: 10px;
            border-radius: 10px 0px 0px 10px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            overflow: auto;
            color: black;
            position: relative;
            scrollbar-width: none;
            &::-webkit-scrollbar {
              width: 0px;
            }
    
            &::-webkit-scrollbar-track {
                width: 0px;
            }
    
            &::-webkit-scrollbar-thumb {
                width: 0px;
            }
        }
        .card-detail {
            width: 30%;
            height: 100%;
            background: white;
            margin: 10px 10px 10px 1px;
            padding: 35px 20px;
            border-radius: 0px 10px 10px 0px;
            overflow: auto;
            scrollbar-width: none;
            &::-webkit-scrollbar {
              width: 0px;
            }
        
            &::-webkit-scrollbar-track {
                width: 0px;
            }
        
            &::-webkit-scrollbar-thumb {
                width: 0px;
            }
        }
        .new-channel-portal {
            width: 85%;
            height: 100%;
            background: white;
            margin: 10px 0px 10px 10px;
            border-radius: 20px;
        }
        .browse {
            margin: 10px 0px 10px 10px;
            padding: 0;
            overflow: hidden;
            user-select: none;
            background: white;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 60%;
            height: 100%;
            border-radius: 20px 0px 0px 20px;
        }
    }
}

@include mQ(930px){
    .main {
        position: relative;
        .main-container {
            flex-direction: column;
            .menu {
                position: fixed;
                width: 100%;
                height: 100px;
                z-index: 10;
                margin-left: 0px;
                margin-top: -50px;
                border-radius: 0px;
            }
            .chat-inbox {
                width: 100%;
                height: 200px;
            }
            .main-chat {
                width: 100%;
                border-radius: 10px;
                margin: 10px;
                height: 500px;
            }
            .user-profile {
                width: 100%;
                border-radius: 10px;
                margin: 10px;
            }
            .main-cards {
                width: 100%;
                border-radius: 10px;
                margin: 10px;
            }
            .card-detail {
                width: 100%;
                border-radius: 10px;
                margin: 10px;
            }
        }
    }
}