.chat-menu {
  padding-left: 5px;
  text-align: left;
  color: rgba(128, 128, 128, 0.753);
  font-weight: bold; }
  .chat-menu .menu-icons {
    -webkit-transform: translateY(8px);
    -ms-transform: translateY(8px);
    transform: translateY(8px);
    padding-right: 5px; }
  .chat-menu li {
    list-style: none;
    height: 70px; }
    .chat-menu li img {
      display: block;
      margin: auto;
      width: 100px;
      height: auto; }
    .chat-menu li:first-of-type {
      margin-bottom: 40px; }
