@import "variables.scss";

.user-profile-detail {
    .chat-upper-profile {
        text-align: center;
        img {
            width: 100px;
            height: 100px;
            border-radius: 75px;
            object-fit: cover;
        }
        p {
            font-weight: bold;
            font-size: 1.5em;
        }
    }
    .chat-lower-profile {
        list-style-type: none;
        padding-left: 0;
        font-size: 13px;
        li {
            display: flex;
            border-radius: 10px;
            border: 1px $lightgrey solid;
            padding: 5px;
            margin: 10px 0px;
            justify-content: space-between;
            span {
                color: $red;
                background: rgba(248, 87, 87, 0.26);
                padding: 5px 10px;
                border-radius: 10px;
                font-weight: bold;
            }
            &:last-of-type {
                border: none;
                button {
                    border: 1px solid rgba(128, 128, 128, 0.418);
                    line-height: 2em;
                    color: rgba(128, 128, 128, 0.801);
                    border-radius: 20px;
                    background: white;
                    padding: 5px 15px;
                    margin: 0px;
                    -webkit-transition-duration: 0.4s; /* Safari */
                    transition-duration: 0.4s;
                    p {
                        font-size: 15px;
                        font-weight: bold;
                        line-height: 0px;
                    }
                    &:hover {
                        cursor: pointer;
                        background: rgba(0, 0, 0, 0.692);
                        color: white;
                    }
                }
            }
        }
    }
}

